#vue-app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bag {
    background: url("img/bag.png") center no-repeat;
    width: 200px;
    height: 300px;
    background-size: 50%;
}

#bag.burst {
    background: url("img/bag-burst.png") center no-repeat;
    width: 200px;
    height: 300px;
    background-size: 50%;
}

#bag-health {
    width: 200px;
    border: 2px solid #000;
    background: ghostwhite
}

#bag-health div {
    height: 20px;
    background: crimson;
}

#actions {
    margin-top: 15px;
}
