<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div id="vue-app-one">
            <h1>Vue app one</h1>
            <greeting></greeting>
        </div>
        <div id="vue-app-two">
            <h1>Vue app two</h1>
            <greeting></greeting>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript" src="app.js"></script>

        <link rel="stylesheet" type="text/css" href="app.css" media="screen" />
    </body>
</html>
